@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --card: 283 36% 97%;
      --ring: 283 93% 25%;
      --input: 220 13% 91%;
      --muted: 283 13% 92%;
      --accent: 283 15% 81%;
      --border: 220 13% 91%;
      --popover: 283 36% 98%;
      --primary: 283 93% 25%;
      --secondary: 283 7% 90%;
      --background: 283 36% 98%;
      --foreground: 283 68% 2%;
      --destructive: 4 84% 36%;
      --card-foreground: 283 68% 1%;
      --muted-foreground: 283 4% 37%;
      --accent-foreground: 283 15% 21%;
      --popover-foreground: 283 68% 2%;
      --primary-foreground: 283 93% 85%;
      --secondary-foreground: 283 7% 30%;
      --destructive-foreground: 4 84% 96%;
      --radius: 0.5rem;
    }
  
    .dark {
      --card: 283 47% 3%;
      --ring: 283 93% 25%;
      --input: 215 27.9% 16.9%;
      --muted: 283 13% 8%;
      --accent: 283 25% 17%;
      --border: 215 27.9% 16.9%;
      --popover: 283 47% 2%;
      --primary: 283 93% 25%;
      --secondary: 283 18% 12%;
      --background: 283 47% 2%;
      --foreground: 283 27% 98%;
      --destructive: 4 84% 49%;
      --card-foreground: 283 27% 99%;
      --muted-foreground: 283 4% 63%;
      --accent-foreground: 283 25% 77%;
      --popover-foreground: 283 27% 98%;
      --primary-foreground: 283 93% 85%;
      --secondary-foreground: 283 18% 72%;
      --destructive-foreground: 0 0% 100%;
    }
  }
@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.map {
    width: 100%;
    height: 40rem;
}

img.leaflet-marker-icon {
    border-radius: 50%;
    border: 2px solid red;
}

.leaflet-control {
    z-index: 0 !important;
}

.leaflet-pane {
    z-index: 0 !important;
}

.leaflet-top,
.leaflet-bottom {
    z-index: 0 !important;
}

.leaflet-popup-content-wrapper {
    border-radius: 0px;
    padding: 0px !important;
}

.leaflet-popup-content {
    padding: 0px !important;
    border-radius: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
